/src/test1/out
src/test1/src/assets/img/lighthteme.jpg
src/test1/src/assets/img/drsktheme.jpg
src/test1/src/assets/img/dbase6.jpg
src/test1/src/assets/img/dbase5.jpg
src/test1/src/assets/img/dbase4.jpg
src/test1/src/assets/img/logo_dark.png
/tmp
src/test1/src/assets/img/dbase.jpg
src/test1/src/assets/img/dbase3.jpg
*.bak
/src/test1/xml
src/test1/packed.zip
/src/test1/1
/src/test2
/test2
/src/test1/2
