/src/test1/out
src/test1/src/assets/img/lighthteme.jpg
src/test1/src/assets/img/drsktheme.jpg
src/test1/src/assets/img/dbase6.jpg
src/test1/src/assets/img/dbase5.jpg
src/test1/src/assets/img/dbase4.jpg
src/test1/src/assets/img/logo_dark.png
/tmp
src/test1/src/assets/img/dbase.jpg
src/test1/src/assets/img/dbase3.jpg
*.bak
